* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #1d1818;
  overflow: hidden;
}

.bg {
  background: url("https://images.alphacoders.com/793/793090.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh + 60px);
  position: absolute;
  width: calc(100vw + 60px);
  top: -30px;
  left: -30px;
  filter: blur(0px);
}

.loading-text {
  z-index: 1;
  font-size: 90px;
}
