* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffffe3;
}

body {
  display: flex;
  background-color: #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background-color: rgba(122, 122, 136, 0.774);
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 20px;
  border-radius: 20px;
  transition: transform 0.5s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box:nth-of-type(odd) {
  transform: translateX(400%);
}

.box.show {
  transform: translateX(0);
}
